<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login登陆首页</title>
</head>
<body>
<form action="/login" method="get">
    <table width="400px" height="400px" align="center">
        <tr align="center">
            <td colspan="2" >
                <h4>登陆</h4>
                <hr/>
            </td>
        </tr>
      
        <input type="hidden" name="flag" value="true"/>

        <tr align="center">
            <td>用户名：</td>
            <td>
                <!--用户名：普通文本输入框-->
                <input type="text" name="username"/>
            </td>
        </tr>

        <tr align="center">
            <td>密码：</td>
            <td>
                <!--密码：密码框-->
                <input type="password" name="password"/>
            </td>
        </tr>
        
        <tr align="center">
            <td >
                <input type="submit" value="登陆"/>
            </td>
            <td >
                <input type="submit" value="修改密码"/>
            </td>
        </tr>

    </table>
</form>
</body>
</html>